body {
    margin: 0;
    background-color: #008ba3;
}

.stage {
    width: 1440px;
    height: 896px;
    position: absolute;
    /*border: 2px solid black;*/
    /*margin: 50px auto;*/
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.stage canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/*#ui-layer { z-index: 3 }*/

#game-layer {
    z-index: 2
}

#background-layer {
    z-index: 1
}